
#tapu-ana-menu{
        background:  url("109666.jpg");
}

.tapu-yazi{
    color:white
}

.alt-but1{
    padding-right: 200px;
    padding-left: 200px;
    
    padding-top: 30px;
    padding-bottom: 30px ;

    color: white;
}

.alt-but2{
    padding-right: 200px;
    padding-left: 200px;
    
    padding-top: 30px;
    padding-bottom: 30px ;

    color: blue;
    border-color:blue ;
}

.adim{
    border-style: none;
}

.yanbar a {
    text-decoration: none;
}

.ana-bar{
    background-color: rgb(231, 231, 231);
}

*ul{
    list-style-type:none;
}

*li{
    list-style-type:none;
}

.h4-bir{
    display: flex;
    justify-content: center;
}

.kart-bar{
    justify-content: center;

    color: blue;
    
}

.inf-1-ic{
    margin-right: 1rem;
    margin-left: 1rem;
}

.kutu-kutu{
    padding-bottom: 1em;
}